[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.2.20"
dj-database-url = "~=0.3"
gunicorn = "~=19.7"
"psycopg2" = "~=2.8.0"
whitenoise = "~=4.1"
behave-django = "~=1.0"
django-allauth = "~=0.34"
sentry-sdk = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
pycodestyle = "*"
splinter = {extras = ["django"]}
selenium = "*"
requests = "*"
behave-django = "*"

[requires]
python_version = "3.8.5"
